<!doctype html>
{% load staticfiles %}

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}"/>
	</head>
	<body>
		<div class='wrapper'>
			<div class='header'>
				<h1>Scrum Board</h1>
				
				<h1>Master Aldrin D' Great</h1>
			</div>
			<div class='content'>
				<div class='container'>
					{% for task in tasks %}
						<div class='task'>
							<ul id='title'>{{ task.title }}</ul>
							<ul id='body'>{{ task.body|truncatechars:50 }}</ul>
							<ul id='create'>{{ task.created_at }}</ul>
							<ul id='update'>{{ task.updated_at }}</ul>
						</div>
					{% endfor %}
				</div>
			</div>
			<div>
			{{ form.as_p }}
			</div>
		</div>
	</body>
</html>