<!doctype html>
{% load staticfiles %}

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}"/>
	</head>
	<body>
		<div class='wrapper'>
			<div class='header'>
				<h1>Scrum Board</h1>
				
				<h1>Master Aldrin D' Great</h1>
			</div>
			<div class='content'>
				<div class='container'>
					{% for task in tasks %}
						<div class='task'>
							<p>
								{{ task.title }}<br>
								{{ task.body|truncatechars:50 }}<br>
								{{ task.created_at}}<br>
								{{ task.updated_at}}
							</p>
						</div>
					{% endfor %}
				</div>
			</div>
			<form method='POST' action="/">
			{{ form.as_p }}
			<input type="submit" value="Submit"/>
			</form>
		</div>
	</body>
</html>