{% extends "task/base.html" %}
{% block title %}Scrumboard{% endblock title %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/note.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/header.css' %} ">
{% endblock extra_head %}
{% block header %}
    <div class="head_wrapp">
        <div id="head" class="header">
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}">
                <input class="input" type="submit" value="Log out"/>
            </form>    
            {% else %}
            <form action="{% url 'login' %}">
                <input class="input" type="submit" value="Log in:"/>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock header %}
{% block body %}
    <div class="board-wrapper">
        {% if user.is_authenticated %}
            {% for status, tasks in task_data %}
                <div class="column_wrapper">
                    <span>{{ status }}</span>
                    {% for task in tasks %}
                        <div class="note">
                            <article>                 
                                <strong>{{ task.title }}</strong><br>
                                {{ task.body|truncatechars:50 }}<br/>
                                {# {{ user }} #}
                                {{ task.owner }}
                            </article>
                        </div>            
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        <div class="side-bar">
            <h5>{{ user }}</h5>
        </div>
    </div>
    <div class="form_wrapper">
        <div class="form">
            <form action="{% url 'index' %}" value="" method="post">
                {% csrf_token %}
                <div id="form">
                    <label for="title">Title:</label>
                    <p>{{ form.title }}</p>
                </div>
                <div id="form">
                    <label for="body">Task:</label>
                    <p>{{ form.body }}</p>
                </div>
                <div id="form">
                    <label for="status">Status:</label>
                    <p>{{ form.status }}</p>
                    <label for="owner">Owner:</label>
                    <p>{{ form.owner }}</p>
                    <label for="moderator">Moderator:</label>
                    <p>{{ form.moderator }}</p>
                </div>
                <input class="button" type="submit" value="Post"/>
            </form>
        </div>    
    </div>
{% endblock body %}