{% extends "task/base.html" %}
{% block title %}Scrumboard{% endblock title %}
{% load task_extras %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href=" {% static 'stylesheets/task.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/note.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/header.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static 'bcss/bootstrap.css' %} ">
{% endblock extra_head %}
{% block header %}
    <div class="head_wrapp">
        <div id="head" class="header">
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}">
                <input class="input" type="submit" value="Log out"/>
            </form>    
            {% else %}
            <form action="{% url 'login' %}">
                <input class="input" type="submit" value="Log in:"/>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock header %}
{% block body %}
    <div class="board-wrapper">
        {% if user.is_authenticated %}
            {% for status, tasks in task_data %}
                <div class="column_wrapper">
                    <span>{{ status }}</span>
                    {% for task in tasks %}
                        <div class="note">
                            <div class="note-body">
                                <strong>{{ task.title }}</strong><br>
                                {{ task.body|truncatechars:50 }}<br/>
                            </div>            
                            <div class="members">
                                <span class="member-initials">{{ task.owner.username|shortify }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                    <a href="" class="add-task">Add a task...</a>
                </div>
            {% endfor %}
        {% endif %}
        <!--div class="side-bar">
            <h5>{{ user }}</h5>
        </div-->
    </div>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <div class="form_wrapper">
                {% if user.is_authenticated %}
                    <div class="form">
                        <form action="{% url 'index' %}" value="" method="post">
                            {% csrf_token %}
                            <div id="form">
                                <label for="title">Title:</label>
                                <p>{{ form.title }}</p>
                            </div>
                            <div id="form">
                                <label for="body">Task:</label>
                                <p>{{ form.body }}</p>
                            </div>
                            <div id="form">
                                <label for="status">Status:</label>
                                <p>{{ form.status }}</p>
                                <label for="owner">Owner:</label>
                                <p>{{ form.owner }}</p>
                                <label for="moderator">Moderator:</label>
                                <p>{{ form.moderator }}</p>
                            </div>
                            <input class="button" type="submit" value="Post"/>
                        </form>
                    </div>
                {% endif %}    
            </div>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock body %}

