{% extends "task/base.html" %}
{% block title %}Scrumboard{% endblock title %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/note.css' %} ">
{% endblock extra_head %}
{% block header %}
    <div class="header">
        <a href="login/">Login:</a>
    </div>
{% endblock header %}
{% block body %}
    {% for status, tasks in task_data.items %}
        {{ status }}
        {% for task in tasks %}
            <div class="note">
                <p>
                    {{ task.title }}<br>
                    {{ task.body|truncatechars:50 }}
                    {{ task.status }}
                </p>
            </div>            
        {% endfor %}
        <br>
    {% endfor %}
{% endblock body %}