.footer {
	background-color: #404040;
	height: 152px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-top: 3px;
	margin-right: 3px;
	margin-left: 3px;
	padding: 0px;
	margin-bottom: 0px;
}