.head_wrapp {
    position: relative;
    height: 80px;
    background-color: #E3E3E3;
    border-radius: 4px;
    margin-bottom: 4px;

}

.header {
    padding: 25px;
    position: absolute;
    right: 25px;
}

#head {
  padding: 0px;
  margin-top: 20px;
}

.input {
  background-color: black;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  font-family: 'Nobile',sans-serif;
  font-style: italic;
  font-weight: 900;
  margin:0px 0px;
  padding: 7px 20px;

  &:hover {
    background-color: lighten(#000, 20%);
  }
	&:active {
		-webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
  		-moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
  		box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
		margin-top:2px;
    -webkit-transition: all 0.1s ease;
    -moz-transition:    all 0.1s ease;
    -ms-transition:     all 0.1s ease;
    -o-transition:      all 0.1s ease;
	}
}

