html, body {
    background-color: #EEE;
    height: 100%;
}

.board-wrapper {
    background-color: #0E9F67;
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    border-radius: 6px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 3px;
}

.board-wrapper:after {
    content: "";
    display: block;
    clear: both;
}

.column_wrapper {
    display: inline;
    float: left;
    margin: 3px;
    background-color: #E3E3E3;
    padding: 0.5em;
    border-radius: 4px;
}

.column_wrapper span {
    font-weight: bold;
}

.board-wrapper-null {
    background-color: #0E9F67;
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    border-radius: 4px;
    margin-bottom: 0px;
    height: 416px;
    margin-right: 3px;
    margin-left: 3px;
}

.board-wrapper-null:after {
    content: "";
    display: block;
    clear: both;
}

.column_wrapper-null {
    display: inline;
    float: left;
    margin: 3px;
    padding: 0.5em;
    border-radius: 4px;
    height: 450px;
}

/* -------------------------------------TASK UI CSS------------------------------------------------- */

.side-bar {
    display: inline;
    float: right;
    margin: 3px;
    background-color: #E3E3E3;
    padding: 0.5em;
    border-radius: 4px;
    width: 235px;
    height: 410px;

}

#error {
    color: #D80000;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    margin-left: 20px;
}

/* ------------------------------------SIDE_BAR UI CSS------------------------------------------------ */

.form_wrapper_login {
    background-color: #1B93BF;
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    border-radius: 4px;
    margin-bottom: 0px;
    height: 155px;
}

.form_login {
    margin-bottom: 10px;
    margin-left: 2px;
    margin-top: 2px; 
    width: 270px;
    border-radius: 6px;
    height: 150px;
    float: left;
}

.form_wrapper {
    background-color: #1B93BF;
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    border-radius: 4px;
    margin-bottom: 0px;
    height: 405px;
}

.form {
    margin-bottom: 10px;
    margin-left: 2px;
    margin-top: 2px; 
    background-color: #E3E3E3;
    width: 500px;
    border-radius: 4px;
    height: 400px;
    float: left;
}

#form {
    margin: 0px;
}

#form p {
    margin: 0px;
    margin-left: 10px;
}

#form label {
    margin-left: 5px;
    font-weight: bold   
}

/* --------------------------------TASK_FORM UI CSS----------------------------------------  */

.button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-family: 'Nobile',sans-serif;
    font-style: italic;
    font-weight: 900;
    margin:0px 0px;
    padding: 3px 20px;
    margin-left: 5px;
    margin-top: 6px;
}

.login {
    display: block;
    margin: 0px;
    width: 240px;
    border-radius: 16px;
    color: #393939;
    margin-top: 5px;
    height: 135px;
    margin-left: 5px
}

.login_attr {
    margin-left: 8px;
    margin-top: 5px;
}

/* -------------------------------------BUTTON UI CSS --------------------------------------- */