body {
    background-color: #EEE;
}

.note {
    display: block;
    margin: 0;
    background-color: white;
    width: 200px;
    border: 1px solid #CCC;
    border-bottom-right-radius: 8px;
    padding: 0;
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #393939;
}

.note p {
    margin-left: 4px;
}

.header {
    position: absolute;
    right: 50px;
}

.board-wrapper .column_wrapper {
    display: inline;
    float: left;
    margin-left: 1em;
}