body {
    background-color: #EEE;
    height: 100%;
}

.board-wrapper {
    background-color: #0E9F67;
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

.board-wrapper:after {
    content: "";
    display: block;
    clear: both;
}

.column_wrapper {
    display: inline;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    background-color: #E3E3E3;
    padding: 0.5em;
    border-radius: 4px;
}

.column_wrapper span {
    font-weight: bold;
}

.note {
    display: block;
    margin: 0spx;
    background-color: white;
    width: 200px;
    border-radius: 4px;
    color: #393939;
    margin-top: 8px;
    box-shadow: 0px 2px #CCC;
}

.note article {
    padding: 8px;
}

.side-bar {
    display: inline;
    float: right;
    margin: 2px;
    background-color: #E3E3E3;
    padding: 0.5em;
    border-radius: 4px;
    width: 235px;
    height: 410px;

}

#error {
    color: #D80000;
}
